name: pull

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - converted_to_draft
      - ready_for_review
      - labeled
    branches:
      - main
      - release/*

permissions: read-all

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  summary:
    runs-on: ubuntu-24.04
    permissions:
      pull-requests: write
    env:
      GH_TOKEN: ${{ github.token }}
      REFERENCE_ISSUE_ID: 1645
      AGENT_TOOLSDIRECTORY: /tmp/xpu-tool
    steps:
      - name: Checkout torch-xpu-ops
        uses: actions/checkout@v4
      - name: Create comment from file
        uses: actions/github-script@v7
        with:
          script: |
            // Read the comment content from a file
            const fs = require('fs');
            const commentBody = fs.readFileSync('./a.html', 'utf8');

            // Create comment on an issue or PR
            await github.rest.issues.createComment({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
              body: commentBody
            });
