name: Linux E2E Summary

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - converted_to_draft
      - ready_for_review
      - labeled
    branches:
      - main

permissions: read-all

defaults:
  run:
    shell: bash -xe {0}

jobs:
  summary:
    runs-on: ubuntu-24.04
    permissions:
      issues: write
    env:
      GH_TOKEN: ${{ github.token }}
      REFERENCE_ISSUE_ID: 1645
      AGENT_TOOLSDIRECTORY: /tmp/xpu-tool
    steps:
      - name: Checkout torch-xpu-ops
        uses: actions/checkout@v4
      - name: test_type
        run: |
          echo "### test" > ./performance.regression.pr.html
      - name: Add comment for performance outliers
        uses: ./.github/actions/add-comment
        with:
          file_path: ./performance.regression.pr.html
          github_token: ${{ github.token }}
